<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加角色</title>
    <link rel="stylesheet" type="text/css" href="__STATIC__/plugins/layui/css/layui.css">
</head>
<body style="padding: 10px">
<form class="layui-form">
    <input type="hidden" name="gid" value="{$role.gid}">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-block">
            <input type="text" class="layui-input" name="title" value="{$role.title}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">权限菜单</label>
        {volist name='results' id='value'}
        <div class="layui-input-block">
            <input type="checkbox" name="menu[{$value.mid}]" lay-skin="primary" title="{$value.title}" {:isset($role['rights'])&&
            $role['rights']&&in_array($value.mid,$role['rights'])?'checked':''}>
            <hr>
            {volist name='value.child' id='cvalue'}
            <input type="checkbox" name="menu[{$cvalue.mid}]" lay-skin="primary" title="{$cvalue.title}" {:isset($role['rights'])&&
            $role['rights']&&in_array($cvalue.mid,$role['rights'])?'checked':''}>
            {/volist}
            <hr>
        </div>
        {/volist}
    </div>
</form>
<div class="layui-form-item">
    <div class="layui-input-block">
        <button class="layui-btn" onclick="save()">保存</button>
    </div>
</div>
<script src="__STATIC__/plugins/layui/layui.js"></script>
<script>
    layui.use(['layer', 'form'], function () {
        var form = layui.form;
        layer = layui.layer;
        $ = layui.jquery;
    });

    function save() {
        var title = $.trim($('input[name="title"]').val());
        if (title === '') {
            layer.msg('请填写角色名称', {icon: 2});
            return;
        }
        $.post("{:url('roles/save')}", $('form').serialize(), function (res) {
            if(res.code>0){
                layer.msg(res.msg,{icon:2});
            }else {
                layer.msg(res.msg);
                setTimeout(function (){parent.window.location.reload();},1000);
            }
        }, 'json');
    }
</script>
</body>
</html>